.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 92.7%;
  background-color: #b0db9c;
  color: #2e3d27;
  text-align: center;
  padding: 1px 0;
  font-size: 0.7rem;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}


.footer span {
  color: #80b878;
  font-weight: 600;
}

/* Simple fade-in animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
