.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #B0DB9C;
  color: #2e3d27;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out;
  border-right: 1px solid #A5C989;
  display: flex;
  flex-direction: column;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #A5C989;
}

.sidebar-header h1 {
  font-size: 1.25rem;
  color: #2e5724;
}

.toggle-button {
  background: none;
  border: none;
  color: #2e5724;
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 0.2s;
}

.toggle-button:hover {
  color: #173d14;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
}

.nav-links a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-radius: 8px;
  font-size: 0.95rem;
  color: #1d2a1b;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #DDF6D2;
}

.nav-icon {
  color: #2e5724;
  font-size: 1.2rem;
}

/* PINK THEME */

.pink .sidebar {
  background-color: #F8C8DC;
  color: #3e1f2a;
  border-right: 1px solid #e8a6c3;
}

.pink .sidebar-header h1 {
  color: #722f37;
}

.pink .toggle-button {
  color: #722f37;
}

.pink .toggle-button:hover {
  color: #4b1f28;
}

.pink .nav-links a {
  color: #5b2230;
}

.pink .nav-links a:hover {
  background-color: #fadbe9;
}

.pink .nav-icon {
  color: #a14065;
}


/* BLUE THEME */

.blue .sidebar {
  background-color: #8dd8f1;
  color: #3e1f2a;
  border-right: 1px solid #000B58;
}

.blue .sidebar-header h1 {
  color: #000B58;
}

.blue .toggle-button {
  color: #000B58;
}

.blue .toggle-button:hover {
  color: #000B58;
}

.blue .nav-links a {
  color: #000B58;
}

.blue .nav-links a:hover {
  background-color: #add8e6;
}

.blue .nav-icon {
  color: #000B58;
}


/* SWTACH BUTTONS */
.theme-circles {
  display: flex;
  gap: 12px;
  margin-left: 1rem;
  align-items: center;
}

.theme-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: transform 0.2s;
}

.theme-btn:hover {
  transform: scale(1.1);
  border-color: #888;
}

/* Color-specific classes */
.theme-btn.green {
  background-color: #3c5f41;
}

.theme-btn.pink {
  background-color: #a4456f;
}

.theme-btn.blue {
  background-color: #000B58;
}
