.tile {
  width: 64px;
  height: 64px;
  margin: 4px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  color: white;
}

/* Base zero tile (empty) */
.tile-0 {
  background-color: #cae8bd;
  color: transparent;
}

/* Numbered tiles with colors */
.tile-2 {
  background-color: #c9f1cc;
  color: #3c3c3c;
}

.tile-4 {
  background-color: #9ceca1;
  color: #3c3c3c;
}

.tile-8 {
  background-color: #82d4ab;
  color: #3c3c3c;
}

.tile-16 {
  background-color: #55AD9B;
  color: #3c3c3c;
}

.tile-32 {
  background-color: #80BCBD;
  color: #3c3c3c;
}

.tile-64 {
  background-color: #7ca885;
  color: #3c3c3c;
}

.tile-128 {
  background-color: #628d6c;
  color: #3c3c3c;
}

.tile-256 {
  background-color: #618264;
  color: #3c3c3c;
}

.tile-512 {
  background-color: #1F7D53;
  color: #3c3c3c;
}

.tile-1024 {
  background-color: #255F38;
  color: #3c3c3c;
}

.tile-2048 {
  background-color: #006A67;
  color: #3c3c3c;
}



/*CHANGE IN THEME COLOR*/
/* PINK THEME */


.pink .tile-0 {
  background-color: #f3f3f3;
  color: transparent;
}

.pink .tile-2 {
  background-color: #f8c8dc;
  color: #4c2a33;
}

.pink .tile-4 {
  background-color: #f4a6c1;
  color: #4c2a33;
}

.pink .tile-8 {
  background-color: #ef7fae;
  color: #4c2a33;
}

.pink .tile-16 {
  background-color: #e05b9b;
  color: white;
}

.pink .tile-32 {
  background-color: #cb3e86;
  color: white;
}

.pink .tile-64 {
  background-color: #b52d72;
  color: white;
}

.pink .tile-128 {
  background-color: #a22564;
  color: white;
}

.pink .tile-256 {
  background-color: #901c57;
  color: white;
}

.pink .tile-512 {
  background-color: #7f154b;
  color: white;
}

.pink .tile-1024 {
  background-color: #6e0e40;
  color: white;
}

.pink .tile-2048 {
  background-color: #5c0835;
  color: white;
}

/* PINK THEME */


.blue .tile-0 {
  background-color: #ADD8E6;
  color: transparent;
}

.blue .tile-2 {
  background-color: #89cdf8;
  color: #4c2a33;
}

.blue .tile-4 {
  background-color: #67C6E3 ;
  color: #4c2a33;
}

.blue .tile-8 {
  background-color:#0786b1  ;
  color: white;
}

.blue .tile-16 {
  background-color:#397cb3 ;
  color: white;
}

.blue .tile-32 {
  background-color:  #429ffd ;
  color: white;
}

.blue .tile-64 {
  background-color:#0071c5 ;
  color: white;
}

.blue .tile-128 {
  background-color:#38419D  ;
  color: white;
}

.blue .tile-256 {
  background-color:#4169E1  ;
  color: white;
}

.blue .tile-512 {
  background-color:#0047AB ;
  color: white;
}

.blue .tile-1024 {
  background-color: #11118f;
  color: white;
}

.blue .tile-2048 {
  background-color: #2c3968;
  color: white;
}
