.tile {
  width: 64px;
  height: 64px;
  margin: 4px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  color: white;
}

/* Base zero tile (empty) */
.tile-0 {
  background-color: #888888;
  color: transparent;
}

/* Numbered tiles with colors */
.tile-2 {
  background-color: #E0FBE2;
  color: #3c3c3c;
}

.tile-4 {
  background-color: #B0EBB4;
  color: #3c3c3c;
}

.tile-8 {
  background-color: #95D2B3;
  color: #3c3c3c;
}

.tile-16 {
  background-color: #55AD9B;
  color: #3c3c3c;
}

.tile-32 {
  background-color: #80BCBD;
  color: #3c3c3c;
}

.tile-64 {
  background-color: #75A47F;
  color: #3c3c3c;
}

.tile-128 {
  background-color: #638889;
  color: #3c3c3c;
}

.tile-256 {
  background-color: #618264;
  color: #3c3c3c;
}

.tile-512 {
  background-color: #1F7D53;
  color: #3c3c3c;
}

.tile-1024 {
  background-color: #255F38;
  color: #3c3c3c;
}

.tile-2048 {
  background-color: #006A67;
  color: #3c3c3c;
}
