<<<<<<< HEAD
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;}  /* This hides the scrollbar */
 


=======
/* DEFAULT GREEN THEME */
>>>>>>> 98588df41d9173000943470374a0a9aa06d68194
.app-container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to right, #ecfae5, #ddf6d2);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2e3d27;
  overflow: hidden; 

}

.main-content {
  flex: 1;
  padding: 0 rem;
  background-color: #cae8bd;
  transition: background-color 0.3s ease-in-out;
}

.main-content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5 rem;
  color: #3c5f41;
  text-align: center;
}

.intro-text {
  font-size: 1.1rem;
  margin-bottom: 0. 5 rem;
  color: #3e5f3d;
  /* max-width: 500px; */
  line-height: 1.6;
  text-align: center;
}

.restart-btn {
  background-color: #3c5f41;
  color: white;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 12px;
  transition: background-color 0.2s ease;
  margin-bottom: 14px;
}

.restart-btn:hover {
  background-color: #388e3c;
}


/* PINK THEME */
.pink.app-container {
  background: linear-gradient(to right, #ffe0f0, #fbd3e9);
  color: #4d2a35;
}

.pink .main-content {
  background-color: #fbd3e9;
}

.pink .main-content h1 {
  color: #a4456f;
}

.pink .intro-text {
  color: #91345e;
}

.pink .restart-btn {
  background-color: #a4456f;
  color: white;
}

.pink .restart-btn:hover {
  background-color: #892d58;
}



/* BLUE THEME */
.blue .app-container {
  background: linear-gradient(to right, #ffe0f0, #fbd3e9);
  color: #4d2a35;
}

.blue .main-content {
  background-color: #add8e6;
}

.blue .main-content h1 {
  color: #000B58;
}

.blue .intro-text {
  color: #000B58;
}

.blue .restart-btn {
  background-color: #000B58;
  color: white;
}

.blue .restart-btn:hover {
  background-color: #3c4271;
}

/* RESET BUTTON */
.resetbtn{
  background-color: #fff;
  color: black;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 12px;
  transition: background-color 0.2s ease;
  margin-bottom: 14px;
}

.settingsDiv{
  padding: 8px 16px;
  border: 1px solid black;
}

.hardmodebtn{
  background-color: #fff;
  color: black;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 12px;
  transition: background-color 0.2s ease;
  margin-bottom: 14px;
}